{% extends 'base.html' %}
{% load static %}

{% block style.css %}
    <link href="{% static 'top.style.css' %}" rel="stylesheet">
{% endblock style.css %}

{% block contents %}

    <div class="card--contents">
        <h4>カテゴリー</h4>
        {% for category in category_list %}
            <a href='{% url 'category' category.name %}'>
                <p style=''>
                    {{ category.name }}
                </p>
            </a>
        {% endfor %}
    </div>

    <div class="card--wrapper">
        {% for publish in publish_list %}
        <ul class="card mb-3 container card--wrapper_list">
            <li class="card-body">
                <a href='{% url 'detail' publish.pk %}'>
                    <h2 class="card-title">{{ publish.title }}</h2>
                </a>
                <h4>カテゴリー：{{ publish.category }}</h3>
                <p class="card-text">{{ publish.description }}</p>
                <p class="card-text"><small class="text-muted">作成日: {{ publish.created_at|date:"Y年m月d日(D)" }}</small></p>
                <div class="card--tags">
                    <h3>
                        <span class="badge badge-primary">New</span>
                    </h3>
                </div>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>

{% endblock contents %}