header {
  background-color: #EFF0F2;
  border-bottom: 1px solid #ECEDEF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
}

.header__header-title {
  text-align: center;
  width: 50%;
}

header .header__header-title--hoverNonen:hover {
  color: #000000;
}

.header__nav {
  width: 50%;
}

header .header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header__nav-list__item {
  margin: 0 3%;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

footer {
  background-color: #333333;
  text-align: center;
  height: 30vh;
}

.footer__content-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.footer__content-list__item {
  margin: 0 2%;
}

.footer__content-list__link {
  color: #d3d3d3;
}